
<div class="container mt-5">
    <h2>Dashboard</h2>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Zeiterfassung</h5>
                    <p class="card-text">Trage Arbeitszeiten manuell ein</p>
                    <a routerLink="/time-tracking" class="btn btn-primary">Arbeitszeit eintragen</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Abwesenheit eintragen</h5>
                    <p class="card-text">Verwalte Deine Abwesenheiten</p>
                    <a routerLink="#" class="btn btn-primary">Abwesenheit eintragen</a>
                </div>
            </div>
        </div>
        <!-- more cards for other functionalities -->
    </div>
</div>
