<div class="container">
  <h1>Dashboard</h1>
  <p>Willkommen im Dashboard!</p>
  <div class="row">
    <div class="col-md-6">
      <h2>Statistiken</h2>
      <!--  display statistics here-->


    </div>
    <div class="col-md-6">
      <h2>Anwesenheiten (zuletzt getrackt?)</h2>
      <!-- leave/absences can be dispaxed here -->
    </div>
  </div>
</div>
<div class="container mt-5">
  <h2>Dashboard</h2>
  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Time Tracking</h5>
          <p class="card-text">Starte/Stoppe Deinen Arbeitstimer</p>
          <a href="#" class="btn btn-primary">Timer</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Abwesenheit eintragen</h5>
          <p class="card-text">Verwalte Deine Abwesenheiten</p>
          <a href="#" class="btn btn-primary">Abwesenheit eintragen</a>
        </div>
      </div>
    </div>
    <!--  more cards for other functionalities ??-->
  </div>
</div>
