
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1>SalesTime</h1>
      <p class="lead">Arbeitszeiterfassung für die Prof4Net GmbH</p>
      <a routerLink="/time-tracking" class="btn btn-primary btn-lg">Loslegen</a>
    </div>
    <div class="col-md-6">
      <img src="SalesTimeLogo.png" alt="Sales Time Logo" class="img-fluid">
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Einfache Arbeitszeiterfassung</h5>
          <p class="card-text">Mit wenigen Clicks</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Berichtserstellung</h5>
          <p class="card-text">Für Arbeitszeitverwaltung auf einen Blick.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Abwesenheiten erfassen</h5>
          <p class="card-text">Urlaub und Krankmeldung eintragen</p>
        </div>
      </div>
    </div>
  </div>
</div>
