<h1>Welcome to the Home Page</h1>


<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 order-1 order-md-2 logo-container">
      <img ngSrc="/SalesTimeLogo.png" alt="Sales Time Logo" class="img-fluid" height="150" width="150">
    </div>
    <div class="col-md-6 order-2 order-md-1">
      <h1>SalesTime</h1>
      <p class="lead">time4net.de</p>
      <a routerLink="/dashboard" class="btn btn-primary btn-lg">Loslegen</a>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Einfache Arbeitszeiterfassung</h5>
          <p class="card-text">Mit wenigen Clicks</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Urlaub beantragen</h5>
          <p class="card-text">Mit wenigen Clicks</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Berichtserstellung</h5>
          <p class="card-text">Für Arbeitszeitverwaltung auf einen Blick</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Statistiken</h5>
          <p class="card-text">Übersichtliche Statistiken anzeigen</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Abwesenheiten erfassen</h5>
          <p class="card-text">Urlaub und Krankmeldung eintragen</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Weitere Funktionen</h5>
          <p class="card-text">Weitere Funktionen hinzufügen</p>
        </div>
      </div>
    </div>
  </div>
</div>