<p>roles works!</p>
<h1>Roles</h1>
<div class="container">
  <div class="row">
    <div class="col-3">
      <h2>Nutzer</h2>
      <p>{{firstName}}</p>
      <p>{{lastName}}</p>
    </div>
    <div class="col-3">
      <p>{{email}}</p>
      <p>{{password}}</p>
    </div>
    <div class="col-3">
      <p>{{currentDate}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <input type="text" [(ngModel)]="firstName" class="form-control" placeholder="First Name" />
      <input type="text" [(ngModel)]="lastName" class="form-control" placeholder="Last Name" />
    </div>
    <div class="col-3">
      <input type="text" [(ngModel)]="email" class="form-control" placeholder="Email" />
      <input type="text" [(ngModel)]="password" class="form-control" placeholder="Password" />
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <button class="btn btn-primary" (click)="showWelcomeAlert()">Show Welcome Alert</button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary" (click)="showMessage('Hey, Ho')">Show Message</button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <input [type]="inputType" class="form-control" />
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <select [(ngModel)]="selectedState" class="form-control">
        <option value="0">Select State</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <button class="btn btn-success" (click)="showLoginAlert()">Show Login Alert</button>
      <button class="btn btn-success" (click)="showWelcomeAlert()">Show Welcome Alert</button>
      <button class="btn btn-success" (click)="showMessage('Ich bin eine Nachricht')">Show Message</button>

    </div>
  </div>

</div>
