
body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  padding: 20px; /* Increase padding */
  font-size: 1.25rem; /* Increase font size */
}

.btn-primary {
  background-color: #0181db;
  border-color: #0181db;
}

.btn-primary:hover {
  background-color: #0181db;
  border-color: #0181db;
}

.card {
  transition: transform .2s;
  box-shadow: 0 4px 6px rgba(0,0,0,.1);
}

.card:hover {
  transform: translateY(-5px);
}

.img-fluid {
  max-width: 200px;
}
.custom-blue {
  color: #0181db !important;
  font-weight: bold;

}

logo-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;

}
